{% extends "base2.html" %}
{% block conteudo %}
	
    <div class="col-md-12 col-lg-12">
        <div class="pull-right"><a href="/CriaUsuario/"><i class="material-icons">&#xe7f0;</i></a></div>
        <h1 style="color:#046350;">Colaboradores</h1>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Pesquisa</button>
        <br>          
        <div class="col-md-4 col-lg-4 collapse" id="demo">
        <form method="get">
            {{search.form.as_p}}
            <button type="submit" class="btn btn-success">Enviar</button>
            <button type="reset" class="btn btn-danger">Limpar</button>
            <ul>
          
          <!-- {% for user in search.qs %}
            <li>{{ user.username }} - {{ user.get_full_name }}</li>
          {% endfor %} -->
        </ul>
        
        
    </div>
      <table class="table">
        <thead>
          <tr style="color: #046350;">
            <th>Nome</th>
            <th>Telefone</th>
            <th>Cargo</th>
          </tr>
        </thead>
        <tbody>
            {% for usuario in search.qs %}   
          <tr>
            
                <td><a href="/item_usuario/{{usuario.id}}" style="text-decoration: none; font-weight: bold; color: #d4bb77;">{{ usuario.username|upper }}</a></td>
                <td>{{usuario.telphone}}</td>
                <td>{{usuario.office}}</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-trash" style="color: #d4bb77;"></span> Excluir 
                    </button>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    </form>
    

<div class="pagination">
    <span class="step-links">
        {% if usuarios.has_previous %}
            <a href="?page={{ usuarios.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ usuarios.number }} de {{ usuarios.paginator.num_pages }}.
        </span>

        {% if usuarios.has_next %}
            <a href="?page={{ usuarios.next_page_number }}">próxima</a>
        {% endif %}
    </span>
</div>
{% endblock %}