{% extends "base2.html" %}
{% block conteudo %}

    <div class="col-md-12 col-lg-12">
        <div class="pull-right"><a href="/CriaUsuario/"><i class="material-icons">&#xe7f0;</i></a></div>
        <h1 style="color:#046350;">Colaboradores</h1>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Pesquisa</button>
        <br>          
        <div class="col-md-4 col-lg-4 collapse" id="demo">
        <form method="get">
            {{search.form.as_p}}
            <button type="submit" class="btn btn-success">Enviar</button>
            <button type="reset" class="btn btn-danger">Limpar</button>        
    </div>
        <div class="table-responsive">
          <table class="table" style="width: 100%;">
            <thead>
              <tr style="color: #046350;">
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Cargo</th>
                  </tr>
                </thead>
                <tbody>
                {% for usuario in search.qs %}   

                <script type="text/javascript">
                    function Verifica(){
                        var resposta = confirm("Deseja remover esse registro?");
             
                 if (resposta == true) {
                      window.location.href = "/deleta_usuario/{{usuario.id}}";
                 }
                    }
                </script>   


                <tr>
                
                <td><a href="/item_usuario/{{usuario.id}}" style="text-decoration: none; font-weight: bold; color: #d4bb77;">{{ usuario.nome|upper }}</a></td>
                <td>{{usuario.telefone}}</td>
                <td>{{usuario.cargo}}</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm"    onclick="Verifica()" ><a href="javascript:func()"><span class="glyphicon glyphicon-trash" style="color: #d4bb77;"></span><a href="javascript:func()">Excluir</a> 
                    </button>
                </td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
    </div>
    </div>

    </form>
    
    
<div class="pagination">
    <span class="step-links">
        {% if usuarios.has_previous %}
            <a href="?page={{ usuarios.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ usuarios.number }} de {{ usuarios.paginator.num_pages }}.
        </span>

        {% if usuarios.has_next %}
            <a href="?page={{ usuarios.next_page_number }}">próxima</a>
        {% endif %}
    </span>
</div>
{% endblock %}