{% extends "base2.html" %}
{% block conteudo %}
    
    <div class="col-md-12 col-lg-12">
        <div class="pull-right"><a href="/Crialideres/"><i class="material-icons">&#xe7f0;</i></a></div>
        <h1 style="color:#046350;">Lideres</h1>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Pesquisa</button>
        <br>          
        <div class="col-md-4 col-lg-4 collapse" id="demo">
        <form method="get">
            {{search.form.as_p}}
            <button type="submit" class="btn btn-success">Enviar</button>
            <button type="reset" class="btn btn-danger">Limpar</button>
        </div>
        <table class="table">
            <thead>
              <tr style="color: #046350;">
                    <th>Nome</th>
                    
                  </tr>
                </thead>
                <tbody>
                {% for lider in search.qs %}   
                <tr>
            
                <td><a href="/item_lider/{{lider.id}}" style="text-decoration: none; font-weight: bold; color: #d4bb77;">{{ lider|upper }}</a></td>
                
                <td>
                    
                    <button type="button" class="btn btn-default btn-sm"><a href="deleta_lider/{{lider.id}}">
                      <span class="glyphicon glyphicon-trash" style="color: #d4bb77;"></span><a href="/deleta_lider/{{lider.id}}">Excluir</a> 
                    </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

    </form>
    

<div class="pagination">
    <span class="step-links">
        {% if lider.has_previous %}
            <a href="?page={{ lider.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ lider.number }} de {{ lider.paginator.num_pages }}.
        </span>

        {% if lider.has_next %}
            <a href="?page={{ lider.next_page_number }}">próxima</a>
        {% endif %}
    </span>
</div>
{% endblock %}